@charset "UTF-8";
*{font-family: AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif}
html{overflow-y: scroll;background-color: #fafafa;overflow-x: hidden}
body{background-color: #fafafa}
.shortcutbar{width: calc(100% - 30px);height: 50px;position: fixed;top: 0;left: 0;background-color: #fff;padding: 0 15px;user-select: none;box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);z-index: 99;text-align: center}
.shortcutbar-logo{height: 50px;cursor: pointer}
.shortcutbar-logo-img{position: relative;top: calc(50% - 15px)}
.shortcutbar-logo-text{font-size: small;color: #666;font-weight: bold}
.shortcutbar-btn{border: none;outline: none;background-color: transparent;position: relative;padding: 1px 0;top: calc(50% - 12.5px);-webkit-tap-highlight-color: transparent;cursor: pointer;height: 50px;}
.shortcutbar-btn-svg{fill: #666}
.screamwrap{margin-top: 65px;padding: 0 15px}
.screamwrap-row{margin-top: 15px;border: 1px solid #aaa;border-radius: 5px;height: 120px;background-color: #fff;padding: 10px;-webkit-tap-highlight-color:rgba(255, 234, 234, 1)}
.screamwrap-row:active,.screamwrap-row:hover{background-color:#ffeaea;cursor: pointer} 
.screamwrap-row-title{color: #444;font-size: medium;font-weight: bold;margin-bottom: 5px}
.screamwrap-row-content{color: #999;font-size: x-small;line-height: 150%}
.mw1000{margin: auto;max-width: 1000px}
.content{margin: auto;padding: 50px 15px 0 15px}
.left{float: left}
.right{float: right}
#copyright{user-select: none;color: #888;font-size: x-small;text-align: center;padding: 50px 0}
#homeLogo{float: left}
#backList{float: left;display: none}
#addvideo{float: right}



/* @media screen and (min-width: 1000px) {
.shortcutbar-logo-text{font-size: medium}
.content{max-width: 1000px;display: none}
#copyright{font-size: small}
.video-add-form{max-width: 400px;margin: 150px auto 0 auto}
.form-title{font-size: large;top: -10px;left: 10px}
.form-div{margin-top: 30px;height: 40px}
.form-input{font-size: medium;color: #222}
} */

#block-background{position: fixed;width: 100%;height: 100%;top: 0;left: 0;z-index: 100;background-color: rgba(0, 0, 0, 0.4);display: none}
#popup{margin: 150px auto 0 auto;width: 770px;height: 600px;padding: 15px;border-radius: 5px;background-color: #fafafa;box-shadow: 0 3px 5px 0 rgba(0,0,0,.6);display: none}
#popup-title{height: 48px;border-bottom: 2px solid #aaa}
#popup-content{height: 500px;overflow-y: auto}
#popup-btns{height: 40px;text-align: right;padding-top: 10px}

.btn{background-color: #eee;color: #666;font-weight: bold;font-size: large;border: none;border-radius: 5px;margin-left: 10px;cursor: pointer;user-select: none;outline: none}
.btn[data-type='reg']{padding: 7px 50px}
.btn[data-type='reg']:hover{color: #fff;background-color: #428fd5}
.btn[data-type='cls']{padding: 7px 25px}
.btn[data-type='cls']:hover{color: #fff;background-color: #f15f5f}


.main-title{font-size: x-large;color: #555;font-weight: bold;user-select: none}
.form{margin-top: 25px;position: relative}
.form-title{margin-top: 20px;color: #666;font-size: large;font-weight: bold;position: absolute;top: -5px;left: 10px;user-select: none}
.form-input{border: 1px solid #eee;border-radius: 5px;width: calc(100% - 65px);height: 50px;padding: 0 10px 0 55px;background-color: #ececec;color: #353535;font-size: medium;-webkit-appearance: none;outline: none;border-left: none;border-right: none}
.form-input:focus{border-bottom: 2px solid #428fd5;border-radius: 5px 5px 0 0;}
.form-input:focus + .form-title{color: #428fd5}



