@charset "UTF-8";
*{font-family: AppleSDGothicNeo-Regular,'Malgun Gothic','맑은 고딕',dotum,'돋움',sans-serif}
html{overflow-y: scroll;background-color: #eee}
body{background-color: #eee}
.shortcutbar{width: calc(100% - 20px);height: 50px;position: fixed;top: 0;left: 0;background-color: #fff;padding: 0 10px;text-align: right;user-select: none;box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25)}
.shortcutbar-logo{float: left;height: 50px}
.shortcutbar-logo-img{position: relative;top: calc(50% - 15px)}
.shortcutbar-logo-text{font-size: small;color: #666;font-weight: bold}
.shortcutbar-shortcut{height: 50px}
.shortcutbar-shortcut-btn{border: none;outline: none;background-color: transparent;position: relative;padding: 1px 15px;top: calc(50% - 12.5px);-webkit-tap-highlight-color: transparent;cursor: pointer}
.shortcutbar-shortcut-btn-svg{fill: #666}
.shortcutbar-shortcut:last-child > .shortcutbar-shortcut-btn{padding: 1px 0 1px 15px}
.screamwrap{margin-top: 65px;padding: 0 15px}
.screamwrap-row{margin-top: 15px;border: 1px solid #aaa;border-radius: 5px;height: 120px;background-color: #fff;padding: 10px;-webkit-tap-highlight-color:rgba(255, 234, 234, 1)}
.screamwrap-row:active,.screamwrap-row:hover{background-color:#ffeaea;cursor: pointer} 
.screamwrap-row-title{color: #444;font-size: medium;font-weight: bold;margin-bottom: 5px}
.screamwrap-row-content{color: #999;font-size: x-small;line-height: 150%}
#content{margin: auto;padding: 50px 10px 0 10px;}
#copyright{user-select: none;color: #888;font-size: x-small;text-align: center;padding: 50px 0}
@media screen and (min-width: 1000px) {
    .shortcutbar-logo-text{font-size: medium}
    #content{max-width: 1000px}
    #copyright{font-size: small}
}







